@font-face {
	font-family: 'MyFont';
	src: url(https://cdn.glitch.com/15668715-4562-4e4a-9cee-0093e2bd6f19%2F03SmartFont-P.ttf?v=1592042648044);
}

body {
	font-family: MyFont;
}
#sample {
  background: -moz-linear-gradient(top, #FFC778, #FFF);
  background: -webkit-linear-gradient(top, #FFC778, #FFF);
  background: linear-gradient(to bottom, #FFC778, #FFF);
  /*グラデーション以外は省略*/
}
