@font-face {
	font-family: 'MyFont';
	src: url(https://cdn.glitch.com/15668715-4562-4e4a-9cee-0093e2bd6f19%2F03SmartFont-P.ttf?v=1592042648044);
}

body {
	font-family: MyFont;
}

vw {
  width : 50vw ; 
}
